@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.title {
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 1.2em;
}

.button-section {
  text-align: center;
}

.button {
  background: #0066ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.button:hover {
  background: #D71920;
}

.result {
  word-wrap: break-word;
  position: relative;
  cursor: pointer;
}

.subtitle {
  font-size: 1.4em;
  text-align: center;
}

.small {
  font-size: 1em;
}
.input-section, .button-section, .result-section {
  padding: 7px 0 3px 0;
}

/* New style for emoji */
.emoji {
  margin-right: 5px;
}

.copied-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.result-word {
  margin-right: 5px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
