@font-face {
  font-family: 'Otsu Slab Medium';
  src: url('../public/title_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Slabo';
  src: url('../public/main_font.ttf') format('truetype');
}

body {
  font-family: 'Slabo', serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Otsu Slab Medium', serif;
}

h2 {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #666;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #333;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  color: #0056b3;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.input-section,
.result-section {
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-section {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  line-height: 1em;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.5em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2em;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.copied-message {
  display: inline-block;
  margin-left: 10px;
  color: #28a745;
}

.result-word {
  margin-right: 5px;
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  height: 80px;
  width: auto;
  margin: 0 0;
}